# Ignore virtual environments
env/
venv/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore large model files
*.dll
*.lib
*.pt
*.weights

# Ignore logs, temp files, etc.
*.log
*.tmp


# Ignore all image files
*.jpg
*.jpeg
*.png
*.bmp
*.gif
*.tiff

# Ignore specific dataset folders (if applicable)
dataset/
images/
data/
